.kolom1{
    width: 25px;
    height: 25px;
    background-color: aqua;
}
.kolom2{
    width: 125px;
    height: 25px;
    background-color: aqua;
}
.kolom3{
    width: 100px;
    height: 25px;
    background-color: aqua;
}
.kolom4{
    width: 75px;
    height: 25px;
    background-color: aqua;
}
.kolom5{
    width: 75px;
    height: 25px;
    background-color: aqua;
}
.kolom6{
    width: 100px;
    height: 25px;
    background-color: aqua;
}