table {
    margin: 150px 0 0 150px;
    border-collapse: collapse;
}
.header1{
    width: 25px;
    font-family: Roboto;
    font-weight: bold;
}
.header2{
    width: 150px;
    font-family: Roboto;
    font-weight: bold;
}
.header3{
    width: 150px;
    font-family: Roboto;
    font-weight: bold;
}
.header4{
    width: 75px;
    font-family: Roboto;
    font-weight: bold;
}
.header5{
    width: 75px;
    font-family: Roboto;
    font-weight: bold;
}
.header6{
    width: 150px;
    font-family: Roboto;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: peru;
    height: 35px;
    font-size: 15px;
    color:white
}
tr:nth-child(odd) {
    background-color:sienna;
    height: 35px;
    font-size: 15px;
    color:white
}